<div class="e-dropdown__menu" id="notifications">
    <div class="dropdown-header e-pd-20">
        <h4 class="e-fw-bld">Notifications</h4>
    </div>
    <ul class="dropdown-content">
        <li class="dropdown-list">
            <a href="#" class="dropdown-link e-d-block e-pd-x-20 e-pd-y-10">
                <span class="notice-time e-fs-12">4:56 pm</span>
                <span class="notice-content e-fs-14 e-fw-bld">
                    Nkiruro order just dropped! check it out
                </span>
            </a>
        </li>
        <li class="dropdown-list">
            <a href="#" class="e-dropdown-link e-d-block e-pd-x-20 e-pd-y-10">
                <span class="notice-time e-fs-12">4:56 pm</span>
                <span class="notice-content e-fs-14 e-fw-bld">
                    Nkiruro order just dropped! check it out
                </span>
            </a>
        </li>
        <li class="dropdown-list">
            <a href="#" class="e-dropdown-link e-d-block e-pd-x-20 e-pd-y-10">
                <span class="notice-time e-fs-12">4:56 pm</span>
                <span class="notice-content e-fs-14 e-fw-bld">
                    Nkiruro order just dropped! check it out
                </span>
            </a>
        </li>
        <li class="dropdown-list">
            <a href="#" class="e-dropdown-link e-d-block e-pd-x-20 e-pd-y-10">
                <span class="notice-time e-fs-12">4:56 pm</span>
                <span class="notice-content e-fs-14 e-fw-bld">
                    Nkiruro order just dropped! check it out
                </span>
            </a>
        </li>
        <li class="dropdown-list">
            <a href="#" class="e-dropdown-link e-d-block e-pd-x-20 e-pd-y-10">
                <span class="notice-time e-fs-12">4:56 pm</span>
                <span class="notice-content e-fs-14 e-fw-bld">
                    Nkiruro order just dropped! check it out
                </span>
            </a>
        </li>
    </ul>
    <div class="dropdown-footer e-pd-20">
        <button type="button" class="e-btn e-btn-secondary e-btn-link">Mark all as read</button>
    </div>
</div>