{% extends "dashboard/wrapper/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block more_meta_tags %}
{% endblock more_meta_tags %}

{% block page_title %}
    Inventory Creation
{% endblock page_title %}

{% block extra_style %}
{% endblock extra_style %}

{% block content %}
<div class="container mt-4" >



    <form method="post" class="form" id="create-form">
        {% csrf_token %}

        <div class="row mgb-20">
            <!-- ########################################################################################$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
            
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ plural }} </h5>                        
                        <div id="list-container" data-url="{{ get_url }}">
                
                            <!-- Companies will be loaded here via AJAX -->
                        </div>
                        <nav>
                            <ul class="pagination" id="pagination-container"></ul>
                        </nav>
                        <a href="#" class="btn btn-primary">View All</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ########################################################################################$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->


        <div class="row">
        
                <br>
                <div class="col-lg-12 ">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Add new {{ item_name }}</h5>

                            {% for field in form %}
                            {% if field.name == "category"  %} 
                                
                                        {% bootstrap_field field %}
                                    
                                        <button type="button" hx-get="{% url 'inventory:add_inventory_category' %}" hx-target="#sub-form" hx-trigger="click" class="btn btn-outline-secondary " >
                                            Add new category
                                        </button>

                                <hr>
                            {% elif field.name == "company" %} 
                                
                                        {% bootstrap_field field %}
                                    
                                        <button type="button" class="btn btn-outline-secondary add-item-btn add-entry" data-field-name="{{ field.name }}" data-url="{% url 'common:add_item' app_name='inventory' model_name='inventorycategory' %}" onclick="openAddItemTab(this)">
                                            Add new company
                                        </button>

                                <hr>
                            {% else %}
                            {% bootstrap_field field %}
                            {% endif  %}

                        {% endfor %}
                        


                        </div>
                    </div>
                </div>
                <br>

                <div class="d-flex justify-content-between mt-3">
                    <button type="submit" class="btn btn-primary" name="action" value="add_another">Save</button>
                </div>
                
        </div>
    </form>
    
</div>
<div id="sub-form">

</div>
<!-- <div class="modal" tabindex="-1" id="sub-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modal-body">

            </div>
        </div>
    </div>
</div> -->
{% endblock content %}

{% block extra_script %}
<script type="module" src="{% static 'assets/js/create_ajax.js' %}"></script>
<script>
    document.addEventListener("htmx:afterRequest",(event)=>{
        if (event.detail.target.id ==="model-body"){
            var modal =new bootstrap.Modal(document.getElementById('sub-form'));
            modal.show();
            console.log('shown')

        }
    })
    document.addEventListener('htmx:afterRequest',(e)=>{
        if (e.detail.verb ==="POST"){
            
            let newCategory=event.detail.xhr.response;
            let select=document.getElementById('id_category');
            let option=document.createElement('option');
            option.value=newCategory.id
            option.text=newCategory.name
            select.add(option);
            select.value=newCategory.id
            let modal =bootstrap.Modal.getInstance(document.getElementById('sub-form'))
            modal.hide();
        }
    })
</script>
{% endblock extra_script %}